*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html body{
    height: 100%;
    width: 100%;
    background-color: #efefef;
    /* font-family: "Open Sans"; */
}
header{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 1vw 7vw 0vw 7vw;
    align-items: center;
    padding: 1vw 1.5vw .5vw 1.5vw;
    /* box-shadow: .3px .3px 5px black; */
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999;
    /* width: 100%; */
    
}
.leftNav{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.shop{
    font-size: 1vw;
    font-weight: 600;
    font-family: "Inter";
    color: black;
}


nav{
    display: flex;
    gap: 2vw;
    font-family: "Inter";
    z-index: 9999;
}
.rightNav{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.mainNav{
    display: flex;
    align-items: center;
    gap: 2vw;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
#cartBTN{
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #fff;
    background-color: black;
    padding: .5vw 2vw .5vw 2vw;
}
.w-commerce-commercecartopenlinkicon path {
    fill: white;
}

main{
    padding-top: 5vw;
}
.heading h1{
    letter-spacing: -5px;
    font-family: "Inter", "sans-serif";
    margin: 5vw 7vw 0vw 7vw;
    line-height: 100%;
    font-size: 9vw;
    font-weight: 1000;
    color: black;
}
.heading h2{
    font-family: "Inter", "sans-serif";
    margin: 2vw 7vw 4vw 7vw;
    font-weight: 700;
    color: black;
}
.image-one{
    overflow: hidden;
}
.image-one img{
    width: 100%;
    margin-top: 5vw;
    max-height: 532px;
    object-fit: cover;
}
.image-one .main-img-one{
    max-width: 100%;
    display: inline-block;
}


.heading-social{
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin: 4vw 8vw 0vw 5vw;
}
.heading-two h1{
    font-family: "Inter", "sans-serif";
    font-size: 6vw;
    font-weight: 1000;
    padding-right: 10vw;
    line-height: 90px;
    word-spacing: -13px;
}
.social svg{
    height: auto;
    width: 2vw;
}
.line{
    margin: 2vw 0vw 2vw 0vw;
    width: .4vw;
    height: 20vh;
    background-color: black;
    margin-right: 5vw;
}